@{
    ViewBag.Title = "Cart item";
}

@Html.Partial("_Espacio1")

<div class="row">
    <div class="col-lg-8">
        <h2>Cart item</h2><br />
    </div>
    <div class="col-lg-3">
        <h4>Date: @DateTime.Now.ToShortDateString()</h4>
    </div>
</div>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Quantity")
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
        <th></th>
    </tr>
    @{
        double total = 0;
    }
    @if (Session["Carrito"] != null)
    {
        foreach (var item in Session["Carrito"] as List<ASF.Entities.CartItemDTO>)
        {

            total += (double)(item.Price * item.Quantity);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <input type="button" value="-" onclick="restar()" style="width:20px;height:23px;">
                    <input type="text" value="1" style="width:50px;height:23px;font-weight:bold;" id="cantidad"/>
                    <input type="button" value="+" onclick="sumar()" style="width:20px;height:23px;">
                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
        <tr>
            <th colspan="2">
                @Html.DisplayName("Total")
            </th>
            <th>
                @Html.DisplayName(total.ToString())
            </th>
            <th>

            </th>
        </tr>
    }
</table>
<div class="row">
    <div class="col-lg-2">
        @Html.ActionLink("Product List", "Index", "Product", null, new { @class = "btn btn-success" })
    </div>
</div>
<div class="row">
    <div class="col-lg-4" style="float:right">
        @Html.ActionLink("Finalizar", "PaymentMethods", "Cart", null, new { @class = "btn btn-primary" })
    </div>
</div>

@Html.Partial("_Espacio2")

<script>
   
  //NO FUNCIONA, HAY QUE REVISARLO
    function sumar() {
        var valor = $("#cantidad").val();
        alert(valor);
    }

    function restar() {
        var valor = document.getElementById("cantidad").val();
        valor = valor - 1;
    }

</script>