@{
    ViewBag.Title = "Carrito de Compras";
}

@Html.Partial("_Espacio1")

<div class="row">
    <div class="col-lg-8">
        <h2>Carrito de Compras</h2><br />
    </div>
    <div class="col-lg-3">
        <h4>Fecha: @DateTime.Now.ToShortDateString()</h4>
    </div>
</div>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayName("Descripción")
        </th>
        <th>
            @Html.DisplayName("Cantidad")
        </th>
        <th>
            @Html.DisplayName("Precio Unid")
        </th>
        <td>
            @Html.DisplayName("SubTotal")
        </td>
        <th></th>
    </tr>
    @{
        double total = 0;
        double subTotal = 0;
    }
    @if (Session["Carrito"] != null)
    {
        foreach (var item in Session["Carrito"] as List<ASF.Entities.CartItemDTO>)
        {

            total += (double)(item.Price * item.Quantity);
            subTotal = (double)(item.Price * item.Quantity);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @using (Html.BeginForm("ChangeQuantity", "Cart", FormMethod.Post))
                    {
                        // <input type="button" value="-" id="restar" />
                        <span style="color: white" id="quantity2">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </span>

                        <input type="number" id="quantity" name="quantity" style="width:60px;"/>
                        <input type="number" name="id" id="id" style="display:none" value=@item.ProductId />
                        // <input type="button" value="+" id="sumar"/>

                        <input type="submit" value="Confirmar" id="btnConfirmar" />

                    }
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                    <script src="~/Scripts/scriptCarrito.js"></script>
                    @*<button id="restar">-</button>
                    <span id="cantidad2" style="color: white">
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </span>
                    <button id="sumar">+</button>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    <script src="~/Scripts/scriptCarrito.js"></script>*@
                    
                </td>
                <td>
                    <span id="precioUn2" style="color: white">
                        @Html.DisplayFor(modelItem => item.Price)
                    </span>
                </td>
                <td>
                    <span id="subtotal2" style="color: white">
                        @Html.DisplayName(subTotal.ToString())
                    </span>
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
        <tr>

            <th colspan="2" style="background-color:white; color:black; border-radius:5px; border-top-right-radius:0px; border-bottom-right-radius:0px;">
                @Html.DisplayName("Total")
            </th>
            <th colspan="1" style="background-color:white; color:black;">

            </th>
            <th colspan="1" style="background-color:white; color:black; border-radius:5px; border-top-left-radius:0px; border-bottom-left-radius:0px;">
                <span id="total2" style="color:black;">
                    @Html.DisplayName(total.ToString())
                </span>
                
            </th>

        </tr>
    }
</table>
<div class="row">
    <div class="col-lg-2">
        @Html.ActionLink("Product List", "Index", "Product", null, new { @class = "btn btn-success" })
    </div>
</div>
<div class="row">
    <div class="col-lg-4" style="float:right">
        @Html.ActionLink("Finalizar", "PaymentMethods", "Cart", null, new { @class = "btn btn-primary" })
    </div>
</div>
@Html.Partial("_Espacio2")

